// Fonts
$lato: 'Lato', sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$grey: #5a5a5a;
$lightGray: #bebebe;
$light: #ebebeb;

$blue: #1d4664;
$lightBlue: #0099d7;
$red: #c31725;

// Breakpoints
$sliderBreak: 1250px;
$sliderBreakMed: 1095px;

$mobile: 991px;
$mobileSm: 767px;

$iphoneBig: 414px;
