.page-banner{
  height: 218px;
  background-position: center center !important;
  background-size: cover !important;
  margin-bottom: 50px;
}
.page-banner.post-banner{
  background-image:url('img/interior/banner-1.jpg');
}
